* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(233, 47%, 7%);
}

section {
  min-height: 400px;
  border-radius: 10px !important;
}

strong {
  font-size: 1.5em;
}
/* 
.align-items-center {
  align-items: center;
} */

.bg-image {
  background-image: url("../images/image-header-desktop.jpg");
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 10px 10px 0;
}

.bg__image-layer {
  background-color: rgba(173, 36, 204, 0.678);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.text-violet {
  color: hsl(277, 64%, 61%);
}

.card__background-violet {
  background-color: hsl(244, 38%, 16%);
}

.br-10 {
  border-radius: 10px 0px 0px 10px;
}

.attribution {
  position: absolute;
  bottom: 0px;
}

