// Colors //
// primary

$dark-blue: hsl(233, 47%, 7%);
$desaturated-blue: hsl(244, 38%, 16%);
$text-color: hsl(277, 64%, 61%);

// neutral

$white: hsl(0, 0%, 100%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$transparent-white-two: hsla(0, 0%, 100%, 0.6);

// Fonts //
// Weights
$font-weights: (
  "regular": 400,
  "bold": 700,
);

// font-size
$primary-font-size: 1em;
